/* Custom font used across the site */
@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}


*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'CursorGothic',  system-ui, sans-serif;
}

:root{
    --primary-font-color: #EDECEC;
    --secondary-font-colour: #edecec99;
    --box-background-color: #1B1913;
}


body{
    background-color: #14120b;
    height: 100vh;
}



/* Navbar section*/
#navBar {
    position: fixed;
    top: 8px;
    left: 90px;
    right: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: #14120b;
    color: var(--primary-font-color);

    z-index: 1000;
}
#navBar img{
    width: 95px;
    height: 23px;
}

.features-box{
    display: flex;
    width: 380px;
    gap: 20px;
    justify-content: space-evenly;
    cursor:pointer;
    font-size: 16px;
}

.buttons{
    display: flex;
    padding-right: 10px;
    gap: 5px;
    cursor:pointer;
}


 .button1{
    background-color: #14120b;
    color: var(--primary-font-color);
    width: 70px;
    height: 30px;
    border-radius: 18px;
    cursor:pointer;
 }

 .button2{
    height: 30px;
    width: 90px;
    border-radius: 18px;
    color: var(--box-background-color);
     cursor:pointer;
}
 .button2:hover{
    background-color: #edecece7;
 }
 .button1:hover{
    background-color: #1b1913e8;
 }

/* main section */
.first-section{
    margin-top: 130px;
    margin-left: 100px;
    
}

 .head-text h1{
    
    color: var(--primary-font-color);
    font-weight: normal;
    font-weight: 50px;
    font-size: 26px;
 }

 .down-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    gap: 5px;
    height: 40px;
    width: 230px;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: var(--box-background-color);
 }

.first-section-img img {
    width: 1300px;       
    height: auto;
    display: block;
    margin-top: 60px;     
}

/* second section */
.second-section{
    margin-top: 80px;
}

 
.wrap {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.second-section-img {
    width: 153px;
    height: 100px;
}


.img-box {
    width: 100%;
    height: 100%;
    background-color: var(--box-background-color);
    padding: 30px;
    border-radius: 10px;
}



.sec-text h2{
    display: flex;
    justify-content: center;
    color: var(--primary-font-color);
  
  
    margin-bottom: 25px;
     font-size: 14px;
    font-weight: normal;

}

/*third-section */

.third-section{
     width: 1300px;       
    height: 650px;
    display: flex;
    margin-top: 85px; 
    background-color: var(--box-background-color);
    justify-content: space-between;
    margin-left: 100px;
    
}
.box1{
     display: flex;
     flex-direction: column;
    justify-content: center;
    margin-left: 20px;
     gap: 20;
}
.box1 h3{
  color: var(--primary-font-color);
  font-size: 22px;
  font-weight: normal;
}
 .box1 p{
    color: #edecec75;
    font-size: 20px;
    font-weight: lighter;
 }
 .box1 span{
    color: #f54e00;
    margin-top: 15px;
 }

.box1-img {
   margin: 20px;
}
/*third-section */

.third-section{
     width: 1300px;       
    height: 660px;
    display: flex;
    margin-top: 85px; 
    background-color: var(--box-background-color);
    justify-content: space-between;
    margin-left: 100px;
    
}
.box1{
     display: flex;
     flex-direction: column;
    justify-content: center;
    margin-left: 20px;
     gap: 20;
}
.box2 h3{
  color: var(--primary-font-color);
  font-size: 22px;
  font-weight: normal;
}
 .box1 p{
    color: #edecec75;
    font-size: 20px;
    font-weight: lighter;
 }
 .box1 span{
    color: #f54e00;
    margin-top: 15px;
 }

.box1-img {
   margin: 20px;
}
/* fourth section */
.fouth-section{
     width: 1300px;       
    height: 660px;
    display: flex;
    margin-top: 85px; 
    background-color: var(--box-background-color);
    justify-content: space-between;
    margin-left: 100px;
    flex-direction: row-reverse;
    
}
 /* fifth-section*/
.fifth-section{
     width: 1300px;       
    height: 660px;
    display: flex;
    margin-top: 85px; 
    background-color: var(--box-background-color);
    justify-content: space-between;
    margin-left: 100px;
    
}
.box2{
     display: flex;
     flex-direction: column;
    justify-content: center;
    margin-right: 20px;
     gap: 20;
}
.box2 h3{
  color: var(--primary-font-color);
  font-size: 22px;
  font-weight: normal;
}
 .box2 p{
    color: #edecec75;
    font-size: 20px;
    font-weight: lighter;
 }
 .box2 span{
    color: #f54e00;
    margin-top: 15px;
 }
  
 /* six-sectiom*/
 
/* Section heading */
.six-section-h2 {
  text-align: center;
  color: var(--primary-font-color);
  font-size: 36px;
  font-weight: 400;
  margin: 85px 0 65px;
}

/* Grid container */
.testimonials-grid {
  max-width: 1300px;
  margin: 0 auto 100px;
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* Card */
.testimonial-card {
  min-height: 300px;
  background-color: var(--box-background-color);
  padding: 24px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

/* Text */
.testimonial-card p {
  color: var(--primary-font-color);
  font-size: 16px;
  line-height: 1.6;
}

/* Footer pinned to bottom */
.testimonial-footer {
  margin-top: auto;
}

.testimonial-footer img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 40px;
  
}
figcaption{
    color: var(--secondary-font-colour);

}

figcaption div{
    width: 195px;
    height: 42px;
    display: block;
  margin-left: 0px;
  position: relative;
  left: 60px;
  color: var(--primary-font-color);
}

figcaption span{
    color: var(--secondary-font-colour);
}

.seventh-section{
margin-left: 100px;
}
.seventh-section h2{
    color: var(--primary-font-color);
    margin-bottom: 20px;
    margin: 20px;
}

.seventh-box{
    background-color: var(--box-background-color);
    height: 580px;
    width: 442px;
    padding: 20px;
 display: inline-block;
  margin: 5px;

}
.seventh-box h3{
    color: var(--primary-font-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
}

.seventh-box p{
    color: var(--secondary-font-colour);
}

.seventh-box span {
    color: #f54e00;
     line-height: 4.6;
}

.seventh-box img{
    height: 480px;
    width: 400px;
    padding-bottom: 80px;
    margin-bottom: 20px;
}

/*eighth-section*/

.eighth-section{
    margin: 100px;
 
}

.eighth-section h2{
    color: var(--primary-font-color);
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 5px;
}

.eighth-section-box{
    height: 125px;
    width: 317px;
    background-color: var(--box-background-color);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
   

}

.label{
border: 2px solid var(--secondary-font-colour);
    height: 23px;
    width: 42px;
    color: var(--secondary-font-colour);
    border-radius: 15px;
    padding:3px 9px 4px; 
}

.eighth-section time{
    color: var(--secondary-font-colour);
    margin-left: 10px;
}

.eighth-section p{
    margin-top: 15px;
    color: var(--primary-font-color);
}

 .eighth-section a {
  color: #f54e00;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}
 
/*ninth-section*/

.ninth-section{
    margin-left: 100px;
   
}

.ninth-section h2{
    color: var(--primary-font-color);
    font-weight: normal;
    font-size: 36px;
}

.ninth-section a {
  text-decoration: none;
  background-color: var(--primary-font-color);
  color: var(--box-background-color);            
  padding: 10px 22px;       
  display: inline-block;     
  border-radius: 20px;
  margin-top: 20px;
}

.ninth-section-img {
  margin-left: 100px;
  width: 1300px;
  height: 732px;
  object-fit: cover;
  margin-top: 70px;
}

/* tenth-section*/
  
.tenth-section{
 height: 682px;
 width: 1520px;
 background-color: var(--box-background-color);
 display: flex;
 margin-top: 130px;
 padding: 50px;
}

.tenth-box1{
    width: 252px;
    height: 482px;
    font-size: 16px;
    font-weight: lighter;
    margin: 52px;
    color: var(--primary-font-color);

}
   .sub-box{
    width: 650px;
    height: 146px;
    background-color: #201e18;
    padding: 20px;
   }
.tenth-box2{
    height: 655px;
    width: 766px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    color: var(--secondary-font-colour);
    
}

.intro{
    color: var(--primary-font-color);
    margin: 5px;
}

.sub-box2{
  margin-top: 30px;
}

.tenth-section a{
    color: #f54e00;
    text-decoration: none;
    margin-top: 15px;
}

/* eleventh-section*/

.eleventh-section{
     height: 382px;
     width: 1300px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.eleventh-section h2{
    color: var(--primary-font-color);
    font-size: 74px;
    margin-left: 202px;
    font-weight: normal;
}

.eleventh-section a{
    width: 262px;
    height: 42px;
    background-color: var(--primary-font-color);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 40px;
    margin-left: 212px;
       margin-top: 20px;
    text-decoration: none;
    color: var(--box-background-color);
}
/* footer*/
.footer{
    height: 435px;
    width: 1520px;
    background-color: var(--box-background-color);
 
    justify-content: space-around;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 150px;
    margin-right: 250px;
    padding-left: 100px;
    
    
}
 

.footer-sub h3{
    color: var(--secondary-font-colour);
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.ul-list{
    color: var(--primary-font-color);
}

.ul-list li{
    font-size: 14px;
    list-style: none;
    padding: 4.5px;
}

.last-box{
    width: 1300px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 40px;
    color: var(--secondary-font-colour);
}

.footer-box1{
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.footer-box2{
    display: flex;
    gap: 40px;
    
}

.footer-box2 div{
    height: 25px;
    width: 122px;
    padding: 0 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    background-color: #25241F;
    border-radius: 20px;
    color: var(--secondary-font-colour);
    
    
}

.footer-box2 select{
    height: 25px;
    width: 122px;
    padding: 0 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    background-color: var(--box-background-color);
    border-radius: 20px;
    color: var(--secondary-font-colour);
}